In [4]:
import pandas as pd
import joblib

# Carrega o modelo e a lista de colunas do treino
modelo = joblib.load("modelo_score.pkl")
colunas_treino = joblib.load("colunas_treino.pkl")

# Lê novos dados
dados = pd.read_excel(r"C:\Users\Paulo\Desktop\MBA DATASCIENCE\Regression\admissao2026.xlsx")

# Pré-processa (dummies + ordena colunas)
dados_proc = pd.get_dummies(dados)
dados_proc = dados_proc.reindex(columns=colunas_treino, fill_value=0)

# Faz previsão
scores_previstos = modelo.predict(dados_proc)

# Mostra resultado junto com dados originais
dados["Score Previsto"] = scores_previstos
display(dados)

# (Opcional) Salvar em Excel
dados.to_excel("resultado_admissao2027.xlsx", index=False)

,Serial No.,GRE,TOEFL,UniversityRating,SOP,LOR,CGPA,Research,Score Previsto
0,1,337,118,4,4.5,4.5,9.65,1,93.461538
1,2,324,107,4,4.0,4.5,8.87,1,76.714286
2,3,316,104,3,3.0,3.5,8.00,1,61.800000
3,4,322,110,3,3.5,2.5,8.67,1,76.714286
4,5,314,103,2,2.0,3.0,8.21,0,57.705882
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,80.937500
496,497,337,117,5,5.0,5.0,9.87,1,96.100000
497,498,330,120,5,4.5,5.0,9.56,1,93.461538
498,499,312,103,4,4.0,5.0,8.43,0,71.000000
499,500,327,113,4,4.5,4.5,9.04,0,80.937500